<!-- Slideshow container -->
<div class="slideshow-container">
  <h1>The Foodtech Startup</h1>
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade" >
  <!-- <%= image_tag 'food6.jpeg' %> -->


  </div>

  <div class="mySlides fade" id="img-2">
    <!-- <%= image_tag 'food9.jpeg' %> -->
    <!-- <h1>The Foodtech Startup</h1> -->
  </div>

  <div class="mySlides fade" id="img-3">
    <!-- <%= image_tag 'food3.jpg' %> -->

    <!-- <h1>The Foodtech Startup</h1> -->
  </div>

  <!-- Next and previous buttons -->
  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" value="1" ></span>
  <span class="dot" value="2" ></span>
  <span class="dot" value="3" ></span>
</div>

<%= javascript_include_tag 'home/carousel' %>
