
  <ul class="tabs" role="tablist">
  <li>
    <input type="radio" name="tabs" id="tab1" checked />
    <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">Presentation</label>
    <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="true">
      <p>"Le bio ce n'est pas vraiment ça!"</p>
    </div>
  </li>

  <li>
    <input type="radio" name="tabs" id="tab2" />
    <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Menu</label>
    <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="menu" aria-hidden="false">
      <p>" Des menus 100% gras ! et fais toi Plez!</p>
    </div>
  </li>
  <li>
    <input type="radio" name="tabs" id="tab3" checked />
    <label for="tab3" role="tab" aria-selected="true" aria-controls="panel3" tabindex="0">Création</label>
    <div id="tab-content3" class="tab-content" role="tabpanel" aria-labelledby="creation" aria-hidden="false">
      <p>" Des menus 200% gras! édition limité! </p>
      </div>
  </li>
</ul>

<%= javascript_include_tag 'home/tab' %>
